/**************************************
RESPONSIVE LAYOUT CSS
**************************************/

@font-face {
  font-family: Comfortaa;
  src: url(http://sociamibucket.s3.amazonaws.com/assets/fonts/Comfortaa-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Comfortaa;
  src: url(http://sociamibucket.s3.amazonaws.com/assets/fonts/Comfortaa-Light.ttf) format('truetype');
  font-weight:lighter;
  font-style: normal;
}

@font-face {
  font-family: Comfortaa;
  src: url(http://sociamibucket.s3.amazonaws.com/assets/fonts/Comfortaa-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: bold;
}

body {
  background-color: rgb( 235, 235, 235 );
}

header {
  background-color: rgba( 122, 204, 200, 0.8);
}

header #profile_link a {
  color: white;
  font-size: 15px;
  font-family: "Comfortaa";
  line-height: 3;
}

#sidebar-left {
  border-radius: 3px;
  background-color: rgb( 246, 246, 246 );
  color: #2e2b2b;
}

#user-status-widget .friends-widget-text {
  margin-bottom: 20px;
  font-size: 11px;
  font-family: "Comfortaa";
  color: rgb( 161, 158, 158 );
  line-height: 1.364;
}

#sidebar-left #user-status-widget #status-input-container #status-input {
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid grey;
  border-radius: 3px;
}

/*User widget*/
.user-widget #user-text {
  font-size: 11px;
  font-family: "Comfortaa";
  color: rgb(161, 158, 158);
  line-height: 1.364;
}

.user-widget img {
  border-radius: 50%;
}

.user-widget #user-text .user-text-name{
  font-size: 15px;
  font-family: "Comfortaa";
  color: rgb(161, 158, 158);
  line-height: 1.364;
}

/*Friend widget*/
.friend-widget #user-text {
  font-size: 11px;
  font-family: "Comfortaa";
  color: rgb(161, 158, 158);
  line-height: 1.364;
}

.friend-widget img {
  border-radius: 50%;
}

.friend-widget #user-text .user-text-name{
  font-size: 15px;
  font-family: "Comfortaa";
  color: rgb(161, 158, 158);
  line-height: 1.364;
}

main {
  color: white;
}

#main-content_1-status {
  border-width: 1px;
  background-color: rgb( 255, 255, 255 );
  border-style: solid;
  border-radius: 3px;
  border-color: rgb( 255, 255, 255 );
  font-size: 11px;
  font-family: "Comfortaa";
  color: rgb( 188, 188, 188 );
  line-height: 47px;
}

#main-content_1 {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4abfea+0,21a7e5+67 */
  background: rgb(74,191,234); /* Old browsers */
  background-image: -moz-linear-gradient(45deg, rgb( 128, 163, 235 ) 100%, rgb( 155, 207, 204 ) 100%);
  background-image: -webkit-linear-gradient(45deg, rgb( 128, 163, 235 ) 0%, rgb( 155, 207, 204 ) 100%);
  background: linear-gradient(45deg, rgb( 128, 163, 235 ) 0%, rgb( 155, 207, 204 ) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4abfea', endColorstr='#21a7e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 3px;
}

hr {
  clear: both;
  height: 1px;
  background-image: linear-gradient(to right, rgba(54, 50, 50, 0), rgba(177, 177, 177, 0.75), rgba(168, 161, 161, 0));
}

#nav-top .navbar {
  background-color: transparent;
  border-color: transparent;
}

#nav-top .nav>li>a {
  padding: 0;
  line-height: 35px;
  padding-right: 20px;
}

#nav-top .navbar .top-nav-btn {
  font-size: 13px;
  font-family: "Comfortaa";
  color: rgb( 246, 246, 246 );
  line-height: 1.538;
  border-radius: 3px;
  border-color: rgb( 128, 163, 235 );
  background-color: rgb( 182, 199, 234 );
}

#nav-top .navbar .top-nav-btn:hover {
  background-color: rgb( 128, 163, 235 );
}

#nav-top .navbar .top-nav-btn.active {
  background-color: rgb( 128, 163, 235 );
}

/*Trend Scanner*/
#trend-scanner {
  max-width: 80%;
  margin: 0 auto;
}

#trend-scanner .navbar-nav {
  float:none;
  padding-left: 0;
}

#navbar-trend-scanner {
  margin-bottom: 15px;
}  

#navbar-trend-scanner ul li>a {
  font-size: 18px;
  font-family: "Comfortaa";
  color: rgb( 255, 255, 255 );
  padding-left: 0;
}
#navbar-trend-scanner .nav>li>a:hover, #navbar-trend-scanner .nav>li>a:focus {
  background-color: transparent;
  text-decoration: underline;
}

#navbar-trend-scanner #bookmark-chevron {
  margin-left: 60px;
}

#trend-scanner-results ul {
  list-style: none;
  padding: 0;
}

#trend-scanner-results ul li{
  padding-bottom: 50px;
}

#trend-scanner-results .list-item #text {
  font-size: 18px;
  font-family: "Comfortaa";
  color: rgb( 255, 255, 255 );
  padding-left: 0;
  transition-duration: 0.5s;
}
#trend-scanner-results .list-item #text:hover {
  background-color: transparent;
  text-decoration: none;
  background-color: rgba(240, 227, 227, 0.267);
  cursor: pointer;
  transition-duration: 0.5s;
}

#trend-scanner-results .list-item #icons {
  font-size: 22px;
  font-family: "Comfortaa";
}

#trend-scanner-results .list-item #icons a {
  color: rgb( 255, 255, 255 );
}