body {
    margin: 0;
}

#wrapper {
  max-width: 100%;
}

#content-top {
  z-index: 1;
}

#main-content-search-input-container {
  min-height: 47px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 50px;
}

#main-content_1 {
  height: 633px;
  overflow-y: scroll;
  padding-left: 5px;
  padding-right: 5px;
}

#wrapper-content {
  padding-left: 22px;
  padding-right: 22px;
}

/*Alter col- padding */
#wrapper-content [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}

header,
aside,
main {
  margin-bottom: 10px;
}

#trend-scanner-results .list-item #icons {
  float: left;
}

#trend-scanner-results .list-item #text {
  margin-left: 30px;
  display: block;
}

.search-form {
  padding-bottom: 15px;
}

#search-query-input {
  height: 47px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 20px;
  width: 100%;
}

#projectManager {
  border-radius: 3px;
  background-color: rgba( 255, 255, 255, 0.902);
  width: 642px;
  height: 450px;
}

/*Trend Scanner*/
#trend-scanner {
  max-width: 90%;
  margin: 0 auto;
}