#character-authenticate-container { 
    height: 100%;
    padding: 0px 30px;
}

#character-authenticate-container-inner { 
    height: 100%;
    overflow-y: scroll;
}

.character-creation-authenticate-button-container {
    padding: 10px 0px;
}

.character-creation-auth-button {
    margin-right: 20px;
    padding: 20px 40px;
}

.character-creation-authorization-disclaimer {
    padding: 0 40px;
}