.character-trait-container {
    border: 3px solid rgb( 226, 226, 226 );
    border-radius: 20px;
    min-height: 200px;
    padding: 5px 27px;
    margin-bottom: 20px;
    cursor: pointer;
    background: white;
    font-family: "Fjalla One";
}

#character-selection-header {
    font-size: 24px;
    font-family: "Fjalla One";
    color: rgb( 221, 48, 58 );
    margin-bottom: 20px;
}

.character-trait-container-active {
    border: 3px solid transparent;
    border-radius: 20px;
    background: rgb( 47, 167, 210 ) url('http://sociamibucket.s3.amazonaws.com/assets/new_ui_gamified/assets/img/icon-close.png') right -50px top -50px no-repeat;
}

.character-trait-container-active .charactet-trait-name, 
.character-trait-container-active .charactet-trait-description {
    color: white;
}

.character-trait-container-active .charactet-trait-name {
    font-size: 24px;
}

.character-trait-container-active .charactet-trait-description {
    font-size: 15px;
    font-family: "Myriad Pro";
}

.charactet-trait-name {
    font-size: 24px;
    font-family: "Fjalla One";
    color: rgb( 234, 59, 22 );
}

.charactet-trait-description {
    font-size: 15px;
    font-family: "Myriad Pro";
    color: rgb( 33, 33, 33 );
}

#character-trait-select-confirm-button-container {
    width: 100%;
    margin-bottom: 10px;
}

#character-selection-next {
    font-size: 25px;
    font-family: "Fjalla One";
}

#character-traits-selection-container {
    height: 100%;
}

#character-traits-selection-container-inner {
    height: 100%;
    overflow-y: scroll;
}