.🏠 {
  font-size: 62.5%;
  font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
.🏠 > * {
  font-size: 1.6rem;
}
.🏠 .navbar-header {
  height: auto;
}
.🏠 .navbar-inverse {
  background-color: transparent;
  border: none;
}
.🏠 .navbar-brand {
  padding: 0;
  height: auto;
  background-color: black;
}
.🏠 .navbar-toggle {
  border: none;
  background-color: black;
  border-radius: 0;
  margin: 0;
}
.🏠 .navbar-collapse .navbar-nav {
  background-color: #000;
}
.🏠 .btn {
  border-radius: 0;
  border: none;
}
.🏠 .btn-outline {
  border: 2px solid #2c82df;
  margin: 16px 5px;
  min-width: 150px;
  height: 30px;
  padding: 0;
  line-height: 30px;
}
.🏠 .btn-primary {
  background-color: #2c82df;
  color: #000;
}
.🏠 .navbar .btn-primary {
  margin: 16px 5px;
  min-width: 150px;
  height: 30px;
  padding: 0;
  line-height: 30px;
  color: #000;
}
.🏠 .btn-warning {
  box-shadow: rgba(0, 0, 0, 0.5) inset 3px 3px 8px 1px;
  background-color: #ffd400;
  color: #000;
}
.🏠 .btn-warning:active:focus {
  color: #000;
  background-color: #eea400;
}
.🏠 .btn-default {
  box-shadow: rgba(0, 0, 0, 0.5) inset 3px 3px 8px 1px;
}
.🏠 h1 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.🏠 h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 28px;
  position: relative;
  text-align: left;
}
.🏠 h3:before {
  position: absolute;
  content: "";
  top: -20px;
  height: 3px;
  width: 50px;
  left: 0;
  background-color: #ffd400;
}
.🏠 h5 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 24px;
}
.🏠 .panel-default {
  border-radius: 0;
  padding: 10px 20px 0 20px;
  box-shadow: 0px 4px 3px 1px #999;
}
.🏠 .flex-column {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.🏠 .flex-row {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .🏠 .cards-container {
    display: flex;
  }
}
.🏠 .cards-container .panel-default {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.🏠 .cards-container img {
  height: 100px;
}
.🏠 .jcenter {
  justify-content: center;
}
.🏠 .f1 {
  flex: 1;
}
.🏠 .iblock {
  display: inline-block;
}
.🏠 .unskew {
  transform: skew(30deg);
}
@media screen and (min-width: 768px) {
  .🏠 .unskew-md {
    transform: skew(30deg);
  }
}
.🏠 .skew {
  transform: skew(-30deg);
}
@media screen and (min-width: 768px) {
  .🏠 .skew-md {
    transform: skew(-30deg);
  }
}
.🏠 .ph50 {
  padding-left: 50px;
  padding-right: 50px;
}
.🏠 .mt50 {
  margin-top: 50px;
}
.🏠 .mt100 {
  margin-top: 100px;
}
.🏠 .text-left {
  text-align: left;
}
.🏠 .yellow {
  color: #ffd400;
}
.🏠 .dark-grey {
  color: #777;
}
.🏠 .dash {
  height: 3px;
  width: 50px;
  background-color: #2080e5;
  margin: 24px auto 0 auto;
}
.🏠 .bgwhite,
.🏠 .bgblack {
  padding: 20px;
  position: relative;
}
.🏠 .bgwhite {
  background-color: #ebebeb;
  color: #333;
}
.🏠 .bgblack {
  background-color: #111;
  color: #fff;
}
.🏠 .main-footer {
  background-image: url("../img/footer-bg.png");
  background-size: cover;
  background-position: center center;
  min-height: 500px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.🏠 .cover {
  background: #000 url("../img/bg.png");
  background-size: cover;
  background-position: center center;
  min-height: 480px;
}
.🏠 .cover-card {
  background-color: black;
  color: #fff;
  padding: 5px 50px;
  margin-bottom: 10px;
}
.🏠 .notch-top-right-black:before {
  position: absolute;
  top: -50px;
  right: 0;
  width: 30%;
  z-index: 1000;
  height: 50px;
  background-color: #111;
  transform: skew(-30deg);
  content: "";
  padding-right: 50px;
  margin-right: -50px;
}
.🏠 .notch-bottom-left-black:after {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 30%;
  z-index: 1000;
  height: 50px;
  background-color: #111;
  transform: skew(-30deg);
  content: "";
  padding-left: 50px;
  margin-left: -50px;
}
.🏠 .notch-bottom-left-white:after {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 70%;
  z-index: 1000;
  height: 50px;
  background-color: #ebebeb;
  transform: skew(-30deg);
  content: "";
  padding-left: 50px;
  margin-left: -50px;
}
.🏠 .featured-image {
  position: relative;
}
.🏠 .featured-image .l1 {
  position: absolute;
  bottom: -20px;
  left: -40px;
  z-index: 0;
  opacity: 0.04;
}
.🏠 .featured-image .l2 {
  position: absolute;
  top: -20px;
  z-index: 1;
  left: -20px;
  opacity: 0.4;
}
.🏠 .featured-image .l3 {
  position: relative;
  z-index: 10;
}
.🏠 .seq {
  position: relative;
  padding: 50px;
}
.🏠 .seq:before {
  content: attr(data-numbering);
  font-size: 30rem;
  font-weight: 900;
  color: #ad6c92;
  opacity: 0.12;
  top: -50px;
  left: -50px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.🏠 .footer-logo-container img {
  height: 47px;
}
.🏠 .footer-menu li {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .🏠 .footer-menu li {
    display: inline-block;
  }
}
.🏠 .footer-menu a {
  color: #fff;
  display: block;
  position: relative;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .🏠 .footer-menu a {
    padding: 0 10px;
  }
}
.🏠 .footer-menu li:not(:last-child) a {
  border-bottom: solid #fff 1px;
}
@media screen and (min-width: 768px) {
  .🏠 .footer-menu li:not(:last-child) a {
    border-bottom: none;
    border-right: 1px solid #fff;
  }
}
/*# sourceMappingURL=style.min.css.map */
