.default-popup-details {
    padding: 40px;
    margin: 0 auto;
    background-color: black;
    height: 100%;
  }

.default-popup-details img {
    max-width: 50%;
}
  
.default-popup-details .glyphicon {
    position: absolute;
    right: 10px;
    top: 10px;
}
  
.checkbox {
    font-weight: normal;
}