table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#job_list_table tr:nth-child(even) {
    background-color: #eee;
}
table#job_list_table tr:nth-child(odd) {
   background-color:#fff;
}
table#job_list_table th {
    background-color: black;
    color: white;
}

#job_title{
    min-width: 200px;
    width: 400px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.feature-col {
  
}