.roadmaps_widget {
    width: 100%;
    min-height: 200px;
    background-color: transparent;
    border: 1px solid white;
    padding-top: 10px;
    padding-top: 10px;
    overflow-y:auto;
}

.skillTag {
    background: transparent;
    border: 1px solid white;
    margin:5px;
    font-size: 12px;
    line-height: initial;
    width:initial;
}

.roadMap{
    width: 100%;
    min-height: 180px;
    height: 180px;
    max-height: 180px;
    background: transparent;
    border: 1px solid white;
    margin-bottom: 5px;
    font-size: 10px;
}

.roadMap:hover{
    background: white;
    color: black;
    opacity: 0.4;
}

.roadMap, .roadMap h1, skillTag{
    cursor: pointer;
}

.roadMap .roadmapControls {
    /*margin-left: 10px;*/
    visibility: hidden;
}

.roadMap:hover .roadmapControls {
    visibility: initial;
}

.roadMap:hover .skillTag {
    visibility: hidden;
}

.roadmapControl {
    color: black;
    padding-right: 10px;
}

.mentor_widget {
    width: 100%;
    min-height: 200px;
    background-color: transparent;
    border: 1px solid white;
    padding-top: 10px;
    padding-top: 10px;
}

.mentor_widget, .mentor_widget h2{
    cursor: pointer;
}