.roadmap_details_widget {
    width: 100%;
    min-height: 200px;
    background-color: transparent;
    border: 1px solid white;
    color: black;
}

.roadmapStart {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 40px;
    text-align: center;
    line-height: 80px;
}

.roadmapStartContainer {
    width: 80px;
}

.skillsArrow {
    
    margin-left: 100px;
    margin-top: auto; 
    margin-bottom: auto; 
}

.detailsSkill {
    padding-top: 5px;
    margin-left: 10px;
}

.detailsSkills {
    margin-left: 20px;
}

.roadmapWayContainer {
    border:1px solid black;
}

.detailsClose {
    cursor: pointer;
    position: absolute; 
    top: 5px; 
    right:5px;
}

.detailsButtons {
    list-style-type: none;
  }

  .detailsButton {
      min-width: 145px;
      margin-bottom: 10px;
  }

  .roadmapDetailsDescription {
      width: 100%;
      height: 200px;
  }

  .roadmapDetailsControls {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }


  .roadmapDetailsDescriptionHeader {
      height: 30%;
  }

  .roadmapDetailsDescriptionContent {
    height: 40%;
    width: 100%;
}

.roadmapDetailsDescriptionFooter {
    height: 30%;
}

.roadmapDetailsDescriptionHeader h4 {
    display: inline-block;
}

.detailsArrow {
    height: 80px;
    margin-left: 10px;
}

.detailsArrow hr {
    border: none;
    height: 2px;
    width:100%;
    /* Set the hr color */
    color: black; /* old IE */
    background-color: black; /* Modern Browsers */
}


