.roadmaps_widget {
    width: 100%;
    min-height: 200px;
    background-color: transparent;
    border: 1px solid white;
    padding-top: 10px;
    padding-top: 10px;
    overflow-y:auto;
}

.skillTag {
    background: transparent;
    border: 1px solid white;
    margin:5px;
    font-size: 12px;
    line-height: initial;
    width:initial;
}

.roadMap{
    background: transparent;
}

/*.roadMap:hover{
    color: black;
}*/

.roadMap, .roadMap h1, skillTag{
    cursor: pointer;
}

.roadMap .roadmapControls {
    /*margin-left: 10px;*/
    opacity: 0.0;
    transition: opacity 0.5s;
}

.roadMap:hover .roadmapControls {
    opacity: initial;
    transition: opacity 0.5s;
}

.roadMap:hover .skillTag {
    opacity: 0.0;
    transition: opacity 0.5s;
}

.roadMap .skillTag {
    opacity: initial;
    transition: opacity 0.5s;
}

.roadMap .icon {
    opacity: initial;
    transition: opacity 0.5s;
}

.roadMap:hover .icon {
    opacity: 0.0;
    transition: opacity 0.5s;
}
.roadmapControl {
    opacity: initial;
    transition: opacity 0.5s;
    padding-right: 10px;
}

.mentor_widget {
    width: 100%;
    min-height: 200px;
    background-color: transparent;
    border: 1px solid white;
    padding-top: 10px;
    padding-top: 10px;
}

.mentor_widget, .mentor_widget h2{
    cursor: pointer;
}
/*TODO: find more robust solution*/
.roadmapSkillsParagraph {
    min-height: 180px;
}