.navigation_button {
    min-width: 100%;
    min-height: 200px;
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

/*.navigation_button:hover {
    background-color: #3498db;
}*/

.navigation_button, .navigation_button h1 {
    cursor: pointer;
}

.navigation_button hr {
    border: none;
    color: black; 
    background-color: black;
    height: 2px;
}

.category_items_count {
    text-align: center;
    min-width: 100%;
}

.glyphicon-big {
    font-size: 32px;
}

.glyphicon-text {
    line-height: 14px;
}

.li-with-spacing {
    padding-left: 15px;
    padding-right: 15px;
}

.customLink, .customLinkActive:hover, .customLinkActive:visited, .customLinkActive:active{
    color: #3498db;
}

.customLink, .customLink:hover, .customLink:visited, .customLink:active{
    color: grey;
}

.roadmaps_widget {
    width: 100%;
    min-height: 140px;
    background-color: #E4E4E4;
    /*border: 1px solid #8B8585;*/
    color: black;
}

.skillTag {
    min-width: 20px;
    min-height: 10px;
    background: grey;
    border: 1px solid black;
}

.roadMap{
    min-width: 140px;
    min-height: 160px;
    background: grey;
    border: 1px solid black;
}

.roadMap:hover{
    background: yellow;
}
