.navigation_button {
    min-width: 100%;
    min-height: 200px;
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

.saveRoadmaps {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

.saveRoadmaps button{
    min-width: 100px;
}

.formSearchPage{
    padding-bottom: 20px;
}

.formSearchPage friends-list-current-user="text"] {
    font-size: 22px;
} 

.searchHeaderTextAndBookmarks h1, searchHeaderTextAndBookmarks h4 {
    display: inline-block;
}

.fa-huge-icon {
    font-size: 120px;;
}

.aboutVideo {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 650px;
}

.aboutVideo>iframe{
    width: 100%;
    height: 100%;
    border: none;
}

#left-sidebar #main-menu {
    text-transform: none;
}