#tasks-management-my-tasks {
    width: 90%;
    margin: 0 auto;
}

#tasks-management-my-tasks ul {
    list-style-type: none;
    white-space: nowrap;
    padding: 0;
}

#tasks-management-my-tasks ul li {
    display: inline-block;
    margin-right: 30px;
}

#tasks-management-my-tasks ul .tasks-management-my-task {
    width: 300px;
    height: 500px;
    display: inline-block;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-align: center;
    font-size: 18px;
    font-family: "Comfortaa";
}

#tasks-management-my-tasks ul .tasks-management-my-task:hover {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

#tasks-management-my-tasks ul .tasks-management-my-task img {
    float: left;
}

#my-tasks-container {
    width: 100%;
    overflow-x: scroll;
}

#my-tasks-container ul li {
    overflow: hidden;
}

#tasks-loading-spinner {
    text-align: center;
    font-size: 60px;
}

#tasks-scanner-list-tasks {
    list-style: none;
    margin-top: 20px;
  }
    
#tasks-scanner-list-tasks li {
    display: block;
    margin-bottom: 60px;
}
    
#tasks-scanner-list-tasks li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e257";
    font-family: 'Glyphicons Halflings';
    float: left;
    font-size: 24px;
    margin-left: -25px;
    margin-top: -3px;
    color: white;
}

#tasks-scanner-list-tasks li a {
    font-size: 18px;
    color: white;
  }

.subtask {
    width: 95%;
    margin: 0 auto;
    min-height: 50px;
    background-color: white;
    margin-bottom: 10px;
    color: rgb(161, 158, 158);
}

#subtasks {
    margin-top: 50px;
}

#tasks-scanner-container {
    width: 90%;
    margin: 0 auto;
}

#tasks-scanner-container-bg {
    background-color: rgba(255, 255, 255, 0.4);
}
  
#tasks-scanner-container .content-2-columns-right-title {
    margin-left: 15px;
}