.achievement-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
}

.achievement-wrapper {
  position: absolute;
  max-width: 500px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
}

.achievement-wrapper .center-wrapper .content-wp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: #fff;
  position: relative;
  text-transform: uppercase;
}
.achievement-wrapper .center-wrapper .content-wp h6 {
  font-size: 13px;
  margin: 0 0 5px 0;
}
.achievement-wrapper .center-wrapper .content-wp h4 {
  margin: 1rem 0;
  color: #0091fa;
}

.achievement-wrapper .center-wrapper .content-wp p {
  text-transform: none;
  text-align: center;
  color: #a5a6c2;
}
.achievement-wrapper .center-wrapper .content-wp .numbering-heading {
  color: #fdb200;
  font-size: 40px;
  position: absolute;
  right: 10px;
  top: -18px;
  font-weight: bold;
}
@media (min-width: 992px) {
  .achievement-wrapper {
    background-repeat: no-repeat;
  }
}
@media (max-width: 991px) {
  .achievement-wrapper {
    background-size: cover;
  }
}
@media (max-width: 767px) {

  .achievement-wrapper .center-wrapper .content-wp .numbering-heading {
    font-size: 30px;
    right: 17px;
    top: -5px;
  }
  .achievement-wrapper .center-wrapper .content-wp h5 {
    font-size: 12px;
    margin: 27px 0 5px 0;
  }
  .achievement-wrapper .center-wrapper .content-wp h2 {
    font-size: 22px;
  }
  .achievement-modal.modal-popup{
    width: 270px;
    border: none !mportant;
  }
  .achievement-modal.modal-popup .achievement-container{
    display: inline-block;
  }
  .achievement-modal.modal-popup .achievement-container .achievement-wrapper {
    width: 100%;
  }
}

.prog-percent {
  margin-top: 15px !important;
}

.ach-content {
  background-image: url('../images/achievement-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 60px 10px;
}
.ach-next {
  top: 50%;
  position: absolute;
  right: 10px;
  color: #ef0bee !important;
  z-index: 1;
}

.ach-previous {
  top: 50%;
  position: absolute;
  left: 10px;
  color: #ef0bee !important;
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  .ach-content {
    padding: 20px 10px 40px;
  }
  .ach-heading {
    font-size: 25px;
  }
  .ach-next, .ach-previous {
    top: auto;
    bottom: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .ach-modal {
    border: none !important;
  }
}

.achievement-top-img {
  width: 100%;
}

.achievement__modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
}