#notificationTile{
  position: absolute;
  z-index: 100;
  min-width: 580px;
  line-height: 1;
}

.notification, .notification-seen {
padding: 20px;
background: #eaeaea;
color: rgb(46,147,148) !important;
}

.notification-seen {
background: #f2f2f2;
}

.notification:focused, .notification-seen:focused, .notification:visited, .notification-seen:visited{
padding: 5px;
background: white;
color: black;
}

.notification:hover, .notification-seen:hover {
background: rgb(185, 177, 177);
}

.notifyIcon {
float: left;
padding-right: 10px;
}

.notifyDesc {
padding-top: 5px;
text-align: left;
}

.notificationRow {
padding-bottom: 11px;
}

#notifyTitle{
text-align: left;
color: black;
}

.list-group-item:first-child {
background-color: #f2f2f2;
padding-top: 15px;
}

#notificationSection {
  height: 352px;
  overflow-y: auto;
}