#notificationTile {
  position: absolute;
  left: 50%;
  right: 50%;
  z-index: 100;
  min-width: 580px;
  line-height: 1;
}

.notification-item, .notification-item-seen {
background: #eaeaea;
}

.notification-seen {
background: #f2f2f2;
}

.notification-item:focused, .notification-item-seen:focused, .notification-item:visited, .notification-item-seen:visited{
padding: 5px;
background: white;
color: black;
}

.notification-item:hover, .notification-item-seen:hover {
background: white
}

.notifyIcon {
float: left;
padding-right: 10px;
}

.notifyDesc {
padding-top: 5px;
text-align: left;
color: rgb(46,147,148) ;
}

.notificationRow {
  padding-bottom: 25px;
}

.notifyTitle{
text-align: left;
color: black;
background-color: #f2f2f2;
}


#notificationSection {
  height: 352px;
  overflow-y: auto;
  background-color: #eaeaea;
}

notificationSection a:focus, notificationSection a:hover {
  text-decoration: none;
}