div#notificationTile {
  position: absolute;
  width: 400px;
  right: 20px;
  top: 48px;
  border: none;
  height: 400px;
  overflow: auto;
  padding: 0 10px;
}

.notification-arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #2fa7d2;
  position: absolute;
  right: 58px;
  top: -10px;
  z-index: 200;
}

.notifyTitle {
  position: relative;
  display: block;
  background-color: #2fa7d2;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 1.1em;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.26);
}

.notify-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.notify-hide {
  display: flex;
  justify-content: space-around;
}

.notifyIcon {
  border: 2px solid #a7daec;
  border-radius: 100px;
  padding: 2px;
  margin-right: 10px;
}

.notify-date {
  color: #bababa;
}

.notify-title {
  color: #000;
}

.notify-name {
  font-weight: bold;
  color: #000;
  font-size: 1.1em;
}

.notify-checked {
  float: right;
  background: #dd303a;
  padding: 0px 10px;
  border-radius: 20px;
  color: #fff;
  margin-top: 8px;
  box-shadow: 0px 4px 10px 0px rgba(221, 48, 58, 0.33);
}

span.notification-item.list-group-item {
  border: none;
  border-radius: 0;
}

#notificationSection {
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.26);
}

div#notificationSection a:hover {
  text-decoration: none;
}

span.notification-item.list-group-item {
  transition: all 0.2s ease-in-out;
}

span.notification-item.list-group-item:hover {
  transform: scale(1.05, 1.1);
  z-index: 100;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
}

a.notify-btn-notification-check {
  border: none;
  outline: none;
  background: #fdda2c;
  color: #e7403f;
  width: 150px;
  padding: 6px;
  text-align: center;
}

button.notify-btn-notification-reschedule {
  background: #fff;
  border: 2px solid #c2c2c2;
  border-radius: 3px;
  width: 150px;
  padding: 6px;
  color: #c2c2c2;
}

.notify-hide {
  display: none;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 5px;
}

span.notification-item.list-group-item:hover .notify-hide {
  display: flex;
}

.notify-checked-true {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 90px;
  width: 30px;
  padding: 5px;
  text-align: center;
  height: 28px;
  color: #e74b49;
  font-size: 1.3em;
}

.more-notifications {
  background: #efefef;
  text-align: center;
  font-size: 1.3em;
  padding: 10px;
  font-weight: bold;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.26);
}

.notifications-loading {
  text-align: center;
}

@media (max-width: 480px) {
  div#notificationTile {
    position: absolute;
    right: 0;
    top: 120px;
    z-index: 100;
    width: 100%;
    line-height: 1;
    background: #fff;
  }

  .notifyTitle div {
    text-align: left;
    padding-left: 50px;
  }
}