#progression-trees {
  margin: 0 auto;
}

#progression-trees-trees {
  width: 90%;
  margin: 0 auto;
}

#progression-trees-scanner-container {
  width: 90%;
  margin: 0 auto;
}

#progression-trees-scanner-container .content-2-columns-right-title {
  margin-left: 15px;
}
  
#scanner-input-container input[type="text"] {
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid white;
  color: white;
  border-radius: 3px;
  background-color: transparent;
  margin: 0 auto;
}
  
#scanner-input-container input[type="text"]:focus {
  outline: none;
}
  
#trees-scanner-list-trees {
  list-style: none;
  margin-top: 20px;
  width: 90%;
}
  
#trees-scanner-list-trees li {
  display: block;
  margin-bottom: 60px;
}
  
#trees-scanner-list-trees li:before {
  /*Using a Bootstrap glyphicon as the bullet point*/
  content: "\e257";
  font-family: 'Glyphicons Halflings';
  float: left;
  font-size: 24px;
  margin-left: -25px;
  margin-top: -3px;
  color: white;
}
  
#trees-scanner-list-trees li a {
  font-size: 18px;
  color: white;
}
  
#trees-scanner-list-trees img {
  width: 28px;
  height: 28px;
}
  
#progression-trees {
  font-family: "Comfortaa";
}
  
#progression-trees .progress {
  border: none;
  height: 50px;
  background-color: transparent;
  overflow: visible; /*So percentage sup is visible*/
  box-shadow: none;
  margin-bottom: 30px;
}
  
#progression-trees .progress .progress-bar {
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}
  
#progression-trees .progress #progress-bar-text {
  position: absolute;
  left: 20px;
  top: 0;
}
  
#progression-trees .progress #progress-bar-text #progress-bar-roadmap-name,
#progression-trees .progress #progress-bar-text .progress-bar-skill-name {
  line-height: 50px;
  display: inline;
  margin-right: 15px;
}
  
#progression-trees .progress #progress-bar-text .progress-bar-skill-name {
  font-size: 14px;
}
  
#progression-trees .progress #progress-percents-sup {
  font-size: 14px;
  top: -1.8em;
}

#trees-scanner-container {
  height: 450px;
  overflow-y: scroll;
}

#my-progress-list {
  height: 500px;
  padding-right: 30px;
  padding-top: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#my-progress-list a {
  color: white;
}

.progress-bar-skills-weightage {
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}

.progression-tree-my-text {
  font-size: 18px;
  color: white;
  margin-right: 5px;
}