.QuestionAnswersFlow-container {
  padding: 40px;
}

.QuestionAnswersFlow-back-to-tasks-ctn {
  margintop: 38px;
}

.QuestionAnswersFlow-current-question-indicator {
  text-align: center;
}

.QuestionAnswersFlow-main-question {
  width: 400px;
  margin: 30px auto 40px;
  text-align: center;
}

.QuestionAnswersFlow-current-question-indicator span {
  padding: 0 10px;
}

.QuestionAnswersFlow-answer {
  display: flex;
  justify-content: space-between;
}

.QuestionAnswersFlow-answer img {
  border: 4px solid #f68b1f;
  border-radius: 50px;
  height: 48px;
  width: 48px;
}

.QuestionAnswersFlow-answer-text {
  position: relative;
  background-color: #fff4e9;
  padding: 10px;
  margin-left: 15px;
}

.QuestionAnswersFlow-answer-text:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 244, 233, 0);
  border-right-color: #fff4e9;
  border-width: 13px;
  margin-top: -25px;
}

.QuestionAnswersFlow-other-players-answers {
  margin: 15px 0;
  display: block;
}

.QuestionAnswersFlow-other-players-answers {
  text-align: right;
}
.QuestionAnswersFlow-other-players-answers-text {
  width: 150px;
  line-height: 32px;
  padding-right: 20px;
}
.QuestionAnswersFlow-other-players-answers-images {
  height: 32px;
  display: inline-block;
}
.QuestionAnswersFlow-other-players-answers-images .answer-avatar-container {
  position: relative;
}
.QuestionAnswersFlow-other-players-answers-images .answer-avatar-container img {
  height: 32px;
  width: 32px;
}
.QuestionAnswersFlow-other-players-answers-images
  .answer-avatar-container
  .answer-text-text {
  display: none;
}

.QuestionAnswersFlow-other-players-answers-images
  .answer-avatar-container:hover
  .answer-text-text {
  position: absolute;
  display: inline-block;
  top: 100%;
  right: 0;
  background-color: #fff4e9;
  padding: 10px;
  width: 250px;
  text-align: left;
  margin-top: 20px;
  z-index: 50;
}

.answer-text-text:after {
  bottom: 100%;
  right: 2%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 244, 233, 0);
  border-bottom-color: #fff4e9;
  border-width: 10px;
  margin-left: -10px;
}

.QuestionAnswersFlow-textarea {
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4) inset;
  padding: 15px;
  border-radius: 4px;
  box-sizing: border-box;
}

.QuestionAnswersFlow-textarea textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.QuestionAnswersFlow-prev-next-ctn {
  width: 278px;
  margin: 20px auto;
  position: relative;
  display: block;
  height: 34px;
}

.QuestionAnswersFlow-prev-next-ctn button {
  background: transparent;
  border: none;
  outline: none;
}

.QuestionAnswersFlow-prev-next-ctn .btn-prev {
  position: absolute;
  left: 0;
}

.QuestionAnswersFlow-prev-next-ctn .btn-next {
  position: absolute;
  right: 0;
}

.QuestionAnswersFlow-social-share {
  text-align: right;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.QuestionAnswersFlow-social-share span {
  padding-right: 15px;
}

.QuestionAnswersFlow-social-share a {
  padding-right: 5px;
}

.QuestionAnswersFlow-current-question-indicator {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QuestionAnswersFlow-back-to-tasks-ctn button {
  background: transparent;
  border: none;
  border: transparent;
  outline: none;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .QuestionAnswersFlow-main-question {
    max-width: 300px;
  }
  .QuestionAnswersFlow-container {
    padding: 10px 15px;
  }
}