body {
    font-family: "Comfortaa";
}
 .tablink {
     background-color:#b6c7ea;
     color: white;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 14px 16px;
     font-size: 17px;
     width: 33.3%;
}
 .tablink:hover {
     background-color: #777;
}
/* Style the tab content */
 .tabcontent {
     color: white;
     padding: 50px;
     text-align: center;
}
 #changeBtn{
     cursor: pointer;
}
 #Content{
     padding-left: 23%;
     padding-right: 20%;
     padding-top: 4%;
     padding-bottom: 2%;
     color: white;
     background-color: #8cb7dd;
}
 #privacy{
     padding-top: 2%;
}
 #changeBtn {
     float: right;
}
 /*.fa{*/
     /*padding-left: 10px;*/
/*}*/
 #privacyTitle{
     margin-top: 0;
     margin-bottom: .5em;
     font-size: 36px;
     color: rgba(255, 255, 255);
     font-weight: 500;
}
 .sidebar {
     float:left;
     padding-top: 40px;
     padding-left: 60px;
     font-size: 18px;
     font-style: unset;
     display: inline-block;
}
 select {
     border-radius: 11px;
     width: 95px;
     font-family: monospace;
     height: 33px;
     font-size: 18px;
     background-color: #337ab7;
}
 hr{
     border-top: 1px solid #868686;
}

