#tree-skills {
    margin-top: 20px;
    height: 400px;
    overflow-y: scroll;
}

#tree-skills a {
    color: white;
}

.weightage-section {
    margin-bottom: 10px;
}

.skill-breakdown-control {
    margin-left: 50px;
}

#button-arrow-back {
    font-size: 30px;
}