/*body {*/
    /*padding : 10px ;*/

/*}*/

#exTab1 .tab-content {
    color : white;
    /*background-color: #428bca;*/
    padding : 5px 15px;
}

#exTab2 h3 {
    color : white;
    /*background-color: #428bca;*/
    padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    color : white;
    /*background-color: #428bca;*/
    padding : 5px 15px;
}


#allFriendList ul {
    list-style-type: none;
    padding-top: 17px;
    padding-left: 2px;
}


.tmp {
    float: left;
    margin: 12px 15px 7px 19px;
}
/*li {*/
    /*padding: 10px;*/
    /*overflow: auto;*/
/*}*/
.actionBtn {
    float: right;
    position: relative;
    right: 10px;
    bottom: 40px;
}
.borderStyle {
    overflow: auto;
    border: 1px;
    border-style: solid;
    border-radius: 14px;
    margin-bottom: 12px;
}
